<!-- <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<form id="addGroupform" class="form-horizontal" role="form" [formGroup]="addGroupForm" (submit)="addGroup()">
<h2 mat-dialog-title>Create New Group</h2>
<div class="form-group"> 
        <label>Enter Group Name<sup>*</sup></label>
    <input formControlName="groupName" type="text" class="form-control" placeholder="Group Name">
    <span *ngIf="!addGroupForm.get('groupName').valid && addGroupForm.get('groupName').touched" class="spanVaild">Please Enter Group Name</span>
</div>
<div class="form-group">
            <button class="btn btn-primary" style="margin: 16px;" [disabled]="!addGroupForm.valid">Save</button>
            <button class="btn btn-primary" (click)="close()">Close</button>
        
</div>
</form> 
</body> -->

 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <ion-header>
        <ion-toolbar>
                <ion-title>Create New Group</ion-title>
        </ion-toolbar>
</ion-header> -->


<form id="addGroupform" class="form-horizontal" role="form" [formGroup]="addGroupForm" (submit)="addGroup()">
        <h2 mat-dialog-title>Create New Group</h2>
        <div class="form-group"> 
                <label>Enter Group Name<sup>*</sup></label>
            <input formControlName="groupName" type="text" class="form-control" placeholder="Group Name">
            <span *ngIf="!addGroupForm.get('groupName').valid && addGroupForm.get('groupName').touched" class="spanVaild">Please Enter Group Name</span>
        </div>
        <div class="form-group">
                    <button class="btn btn-primary" style="margin: 16px;" [disabled]="!addGroupForm.valid">Save</button>
                    <button class="btn btn-primary" (click)="close()">Close</button>
                
        </div>
</form> 
