<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" (click)="public_chat()">
        <!-- <ion-icon name="calendar"></ion-icon> -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkqJUBFuDesvl5acNzYmJu8boLWb-wnJgJ3cnJkMON25LsgYJ0&s" alt="public" style="width: 35px;
        height: 29px;">
        <ion-label>Public Chat</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button> 
  
      <ion-tab-button tab="speakers">
        <!-- <ion-icon name="contacts"></ion-icon> -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0fqW5lk0F8oY7-XIG8hXGY-MFMM6t4jv4dNjAPkICRmNXypYv&s" alt="public" style="width: 35px;
        height: 29px;">
        <ion-label>Private Chat</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <!-- <ion-icon name="map"></ion-icon> -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpUQ5DlwxpNtawc6mHNpAekY3JvAU2c6zTu7UaFDmShcDhiNmp&s
        " alt="public" style="width: 35px;
        height: 29px;">
        <ion-label>Group Chat</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
