
  ion-content{
  // --ion-background-color:rgb(223, 35, 191);
    --background: url("https://image.freepik.com/free-photo/soft-blurry-lights_1048-4176.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.header-background-color{
  --background: #ee7626;
}
.header-btn{
  font-weight: 600;
  /* color: antiquewhite; */
  font-size: initial;
}
  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }
  
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }

  .imgclass{
    padding-top: 30px;
  }
  .fridata{
    padding-top: 20px;
  }
  /* li {
    float: left;
  } */
  .border-info{
    // width: 50%;
    margin: auto;
    /* margin-top: 25px; */
    border-radius: 25px;
    /* for rounded corners */
    /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-gold-gold-low-profile-background-material-low-profilebackground-materialconference-image_69763.jpg"); */
    background-image: url("https://image.freepik.com/free-photo/soft-blurry-lights_1048-4176.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px; 
    border: 10px solid !important;
    border-color: #de810e !important;
  }
  .backImg{
    height: 69px;
    width: 105px;
    padding-left: 20px;
    float: left;
  }
  