ion-content{
    --background: url('http://eskipaper.com/images/purple-ios7-wallpaper-1.jpg') no-repeat center center / cover;
}
sup{
    color:red;
}
.loginImg{
    height: 90px;
    margin: auto;
    display: block;
}
.orclass{
    text-align: center !important;
    width: 100%;
    float: left;
}